<ion-header [translucent]="true">
  <ion-toolbar class="hd"> 
    <ion-title>CONTACTS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-img src="assets/pictures/img20.jpg"></ion-img>
        <ion-name>Facebook Account: Hannah Marie Demain Acebo</ion-name>
      </ion-item>
      
      <ion-item>
        <ion-img src="assets/pictures/img21.jpg"></ion-img>
        <ion-name>Email Account: hannahmarieacebo@gmail.com </ion-name>
      </ion-item>

      <ion-item>
        <ion-img src="assets/pictures/img22.jpg"></ion-img>
        <ion-name>Tiktok Account: @hannahacebo19 </ion-name>
      </ion-item>
  
      <ion-item>
        <ion-img src="assets/pictures/img19.jpg"></ion-img>
        <ion-name>Contact Number: 09489191259 </ion-name>
      </ion-item>
     / 
    </ion-list>
  </ion-toolbar>
</ion-content>       